<div class="employee-list">
  <h2>Lista de Empleados</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of empleados">
        <td>{{ employee.id }}</td>
        <td>{{ employee.nombre }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.activo === 1 ? 'Active' : 'Inactive' }}</td>
        <td>
          <button (click)="editEmployee(employee.id)" class="btn edit">Edit</button>
          <button (click)="employee.id !== undefined && marcarEntrada(employee.id)" class="btn marcar-entrada">Marcar Entrada</button>
          <button (click)="employee.id !== undefined && marcarSalida(employee.id)" class="btn marcar-salida">Marcar Salida</button>
          <button (click)="employee.id !== undefined && iniciarSesion(employee.id)" class="btn iniciar-sesion">Iniciar Sesión</button>
          <button (click)="employee.id !== undefined && terminarSesion(employee.id)" class="btn terminar-sesion">Terminar Sesión</button>
          <button (click)="employee.id !== undefined && actualizarEstadoEmpleado(employee.id, employee.activo === 1 ? 0 : 1)" class="btn">
            {{ employee.activo === 1 ? 'Desactivar' : 'Activar' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="registrarEmpleado()" class="btn-add">Agregar Nuevo Empleado</button>
</div>
